<h1>Bienvenido a la Aplicación de Facturación'</h1>
<p>La aplicación está en desarrollo, uséla libremente.</p>
<%= link_to 'Clientes', clientes_path %>
<%= link_to 'Productos', productos_path %>
<%= link_to 'Facturas', facturas_path %>
