<%= link_to 'Clientes', clientes_path %>
<%= link_to 'Productos', productos_path %>
<%= link_to 'Facturas', facturas_path %>
<h1>Bienvenido a Facturando, aplicación de control de stocks</h1>
<h1>y facturación para PyMES</h1>
<p>(La aplicación está en desarrollo, uséla libremente)</p>

